:root {
  --color-red: #fc2037;
  --color-fuchsia: #fd13e5;
  --color-purple: #320545;
  --color-lightblue: #57d9ec;
  --color-aqqa: #30e5ad;
  --color-light-purple: #4740bb;
  --color-blue: #0f1434;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#payment-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  #payment-form {
    width: 90%;
    min-width: auto;
    padding: 30px;
  }
}

@media (max-width: 576px) {
  #payment-form {
    width: 95%;
    min-width: auto;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  #payment-form {
    width: 100%;
    min-width: auto;
    padding: 15px;
    margin: 0;
  }
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
#submit {
  background: #0055DE;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;

  &:hover {
    filter: contrast(115%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}


/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #0055DE;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #0055DE;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

/* Payment status page */
#payment-status {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  row-gap: 30px;
  min-width: 500px;
  min-height: 380px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px var(--color-fuchsia),
    0px 2px 5px 0px var(--color-fuchsia), 0px 1px 1.5px 0px var(--color-fuchsia);
  border-radius: 7px;
  padding: 40px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  margin-top: auto;
  margin-bottom: auto;
}

#status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#status-text {
  margin: 0;
  color: white !important;
  text-shadow: 0 0 10px var(--color-fuchsia);
  text-align: center;
}

#view-details {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  display: block;

  &:hover {
    filter: contrast(120%);
  }
}

#details-table {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

table tbody tr:first-child td {
  border-top: 1px solid #E6E6E6;
  /* Top border */
  padding-top: 10px;
}

table tbody tr:last-child td {
  border-bottom: 1px solid #E6E6E6;
  /* Bottom border */
}

td {
  padding-bottom: 10px;
  color: white !important;
  text-shadow: 0 0 10px var(--color-fuchsia);
}

.TableContent {
  text-align: right;
  color: #6D6E78;
}

.TableLabel {
  font-weight: 600;
  color: #30313D;
}

#view-details {
  color: #0055DE;
}

#retry-button {
  color: var(--color-lightblue);
  background-color: var(--color-blue);
  border: 1px solid var(--color-lightblue);
  box-shadow: 0 0 10px var(--color-lightblue);
  transition: all 0.3s linear;

  padding: 10px;


  &:hover {
    color: var(--color-blue);
    background-color: var(--color-lightblue);
    border: 1px solid var(--color-blue);
  }
}


@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {

  form,
  #payment-status {
    width: 80vw;
    min-width: initial;
  }
}


.NxBHq1ur__Easel-contentWrapper {
  display: none;
}