@import url('bootstrap-icons');
@import url('bootstrap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #fc2037;
  --color-fuchsia: #fd13e5;
  --color-purple: #320545;
  --color-lightblue: #57d9ec;
  --color-aqqa: #30e5ad;
  --color-light-purple: #4740bb;
  --color-blue: #0f1434;
}

/* #region Swiper */

/* swiper generico */
.swiper-wrapper-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 0;

  overflow: hidden;

  /* cursor: pointer; */
}

/* dimensione e caratteristiche della singola slide */
.swiper-slide {
  width: 500px !important;
  height: 500px !important;

  background-position: center;
  background-size: cover;

  border-radius: 16px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.4;
  transition: opacity 0.3s ease;
}

/* dimensione e caratteristiche della slide ATTIVA */
.swiper-slide-active {
  opacity: 1;
}

/* regola di default per dimensione immagine che riempia tutto */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mySwiper.continuous .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* aspetto delle frecce sinistra/destra */
.custom-prev,
.custom-next {
  width: 50px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  user-select: none;
  background-color: red;
  border-radius: 500px;
  transition: all 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: black;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}


/* #endregion Swiper */

/* navbar */

.navbar {
  background-color: var(--color-purple) !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  width: 100px;
}

.cart {
  color: var(--color-fuchsia) !important;
  /* border-color: var(--color-fuchsia) !important; */
  border: 2px solid var(--color-fuchsia);
  border-radius: 50% !important;
  width: 50px !important;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;

  .cart-icon {
    /* width: 70% !important;
    aspect-ratio: 1/1; */
    font-size: 20px;
  }
}

.cart:hover {
  background-color: rgba(184, 11, 167, 1) !important;
  color: white !important;
  border-radius: 50%;
}

.nav-link:hover {
  color: rgba(184, 11, 167, 1) !important;
}

.form-control {
  color: var(--color-fuchsia) !important;
  border-color: var(--color-fuchsia) !important;
}

input::placeholder {
  color: var(--color-fuchsia) !important;
}

input:focus {
  /* background-color: rgba(255, 255, 255, 0.8) !important; */
  background-color: rgba(184, 11, 167, 1) !important;
  border-color: var(--color-fuchsia) !important;
  box-shadow: none !important;
  color: white !important;

  &::placeholder {
    color: white !important;
  }
}


form {
  display: flex;
}

.card {
  background-color: var(--color-purple) !important;
  border-radius: 20px !important;
  box-shadow: inset 10px var(--color-fuchsia) !important;
  box-shadow: 0 0 10px 5px rgba(184, 11, 167, 1) !important;
}

.card h2 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 50px;

  span {
    color: var(--color-lightblue) !important;
  }
}

h2 {
  text-shadow: -1px 1px 11px rgba(87, 217, 236, 0.81);

}